<?xml version="1.0"?>
<!--
/**
 * @category    Edu
 * @package     Edu\CmsSimpleBadge
 * @author      Maxim Dzyuba
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Edu\CmsSimpleBadge\Api\Data\GridInterface" type="Edu\CmsSimpleBadge\Model\Grid" />

    <virtualType name="Edu\CmsSimpleBadge\Model\ResourceModel\Badges\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">badges</argument>
            <argument name="resourceModel" xsi:type="string">Edu\CmsSimpleBadge\Model\ResourceModel\Badges</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="edu_cmssimplebadge_badges_listing_data_source" xsi:type="string">
                    Edu\CmsSimpleBadge\Model\ResourceModel\Badges\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

</config>
