<!--
/**
 * @category    Edu
 * @package     Edu/StoreFinderCompletion
 * @author      Maxim Dzyuba <maxim.d@tdo.kz>

 */
-->
<div class="storefinder-store" data-bind="attr: {'data-store-id': store_id}">
    <a class="left-column" data-bind="attr: { href: $parent.getDetailPageUrl(item) }">
        <img class="image"
             data-bind="attr: {src: $parent.getBaseImageSrc(item), alt: $parent.getBaseImageAlt(item)}" />
    </a>
    <div class="right-column">
        <a class="title-wrapper" data-bind="attr: { href: $parent.getDetailPageUrl(item) }">
            <h3 class="title" data-bind="text: store_name"></h3>
        </a>
        <div class="address" data-bind="html: $parent.formatAddress(address)"></div>
        <!-- ko if: ($parent.isShowDirectionUrl(item)) -->
        <div class="direction-url-row">
            <a class="direction-url" target="_blank" data-bind="attr: {href: custom_directions_url}">
                <span class="direction-icon"></span>
                <span class="direction-label" data-bind="i18n: 'Get Directions'"></span>
            </a>
        </div>
        <!-- /ko -->
        <h4 class="store-contact-title" data-bind="i18n: 'Store Contact'"></h4>
        <div class="phone-row">
            <span class="phone-icon"></span>
            <span class="phone-label" data-bind="i18n: 'Phone'"></span>
            <span class="phone-number" data-bind="text: phone_number"></span>
        </div>
        <div class="email-row">
            <span class="email-icon"></span>
            <span class="email-label" data-bind="i18n: 'Email'"></span>
            <span class="email" data-bind="text: store_email"></span>
        </div>
    </div>
</div>
