$font-stack: "Open sans", Helvetica, Arial, sans-serif;

$primary-color: #85878f;
$grey-color: #2c2f46;
$grey-ligth-color: #eee;
$grey2-ligth-color: #e7e8f0;
$ligth-grey-color: #e4e6e9;
$blue-color: #257fb7;
$blue2-color: #1e49a4;
$blue3-color: #1f2993;
$green-color: #85b73c;
$green2-color: #85b73c;
$white-true-color: #fff;
$white-color: #f5f7fb;
$light-blueb-color: #cddaf0;
$jysk-blue-color: #003187;
$dark-color: #465b42;
$copy-color: #46536c;
$orange-color: #f47b20;

$sticky-head-height: 73px;
$desctop_width: 1280px;
