<section class="grey-b">
    <div class="page-center">
        <h1>COLORS</h1>
        <p>Colors utilized consistency throughout the entire interface on desktop and mobile.</p>

        <div class="blocks">
            <div class="block">
                <div class="show white-color"></div>
                <h3>WHITE</h3>
                <p>#ffffff</p>
            </div>
            <div class="block ">
                <div class="show light-blueb-color"></div>
                <h3>LIGHT BLUE</h3>
                <p>#cddaf0</p>
            </div>
            <div class="block">
                <div class="show jysk-blue-color"></div>
                <h3>JYSK BLUE</h3>
                <p>#003187</p>
            </div>
            <div class="block">
                <div class="show dark-color"></div>
                <h3>DARK</h3>
                <p>#465b42</p>
            </div>
            <div class="block">
                <div class="show copy-color"></div>
                <h3>COPY</h3>
                <p>#46536c</p>
            </div>
            <div class="block">
                <div class="show green-color"></div>
                <h3>GREEN</h3>
                <p>#85b73c</p>
            </div>
            <div class="block">
                <div class="show orange-color"></div>
                <h3>ORANGE</h3>
                <p>#f47b20</p>
            </div>
        </div>
    </div>
</section>

<section class="page-center">

    <div class="wrapper">
        <h2>TYPOGRAPHY</h2>
        <p>Free, open-sourced "Open Sans" is a lightwelgt sans-serif available on the Google Fonts library.</p>
    </div>

    <div class="wrapper">
        <div class="blocks">
            <div class="block">
                <h3 class="h1">PRODUCT name h1</h3>
            </div>
            <div class="block">
                <div><b>PRODUCT NAME</b></div>
                <p>
                    font-famaly: "Open sans", Helvetica, Arial, sans-serif <br>
                    font-size: 31px;
                    font-weight: bold;
                </p>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="blocks">
            <div class="block">
                <div>Home > Furniture > Bedroom Furniture</div>
            </div>
            <div class="block">
                <div><b>BREADCRUMB STYLE</b></div>
                <p>
                    font-famaly: "Open sans", Helvetica, Arial, sans-serif <br>
                    font-size: 12px;
                </p>
            </div>
        </div>
    </div>

</section>
