<?xml version="1.0"?>
<!--
/**
 * @category    Scandiweb
 * @package     Scandiweb/StoreFinder
 * @author      Andris Bremanis <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Inc (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Interfaces -->
    <preference for="Scandiweb\StoreFinder\Api\StoreRepositoryInterface"
                type="Scandiweb\StoreFinder\Model\StoreRepository" />
    <preference for="Scandiweb\StoreFinder\Api\EventRepositoryInterface"
                type="Scandiweb\StoreFinder\Model\EventRepository" />
    <preference for="Scandiweb\StoreFinder\Api\Import\OutputInterface"
                type="Scandiweb\StoreFinder\Import\Output"/>
    <preference for="Scandiweb\StoreFinder\Api\Import\Store\ValidationInterface"
                type="Scandiweb\StoreFinder\Import\Store\Validation"/>
    <preference for="Scandiweb\StoreFinder\Api\Import\StoreInterface"
                type="Scandiweb\StoreFinder\Import\Store"/>

    <!-- Image Uploader -->
    <virtualType name="ScandiwebStoreFinderImageUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">store_finder/tmp/stores</argument>
            <argument name="basePath" xsi:type="string">store_finder/stores</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Scandiweb\StoreFinder\Controller\Adminhtml\Stores\ImageUpload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">ScandiwebStoreFinderImageUploader</argument>
        </arguments>
    </type>
    <type name="Scandiweb\StoreFinder\Controller\Adminhtml\Stores\Save">
        <arguments>
            <argument name="imageUploader" xsi:type="object">ScandiwebStoreFinderImageUploader</argument>
        </arguments>
    </type>
    <type name="Scandiweb\StoreFinder\Model\ResourceModel\Store\FileInfo">
        <arguments>
            <argument name="urlBuilder" xsi:type="object">Magento\Framework\Url</argument>
        </arguments>
    </type>
    <!-- Grid elements -->
    <virtualType name="StoreFinderStoreFilterPool"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="StoreFinderEventFilterPool"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="StoreFinderRsvpFilterPool"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="StoreFinderStoreDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object"
                      shared="false">Scandiweb\StoreFinder\Model\ResourceModel\Store\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">StoreFinderStoreFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="StoreFinderEventDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object"
                      shared="false">Scandiweb\StoreFinder\Model\ResourceModel\Event\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">StoreFinderEventFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="StoreFinderRsvpDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object"
                      shared="false">Scandiweb\StoreFinder\Model\ResourceModel\Rsvp\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">StoreFinderRsvpFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="storefinder_stores_listing_data_source"
                      xsi:type="string">Scandiweb\StoreFinder\Model\ResourceModel\Store\Grid\Collection</item>
                <item name="storefinder_events_listing_data_source"
                      xsi:type="string">Scandiweb\StoreFinder\Model\ResourceModel\Event\Grid\Collection</item>
                <item name="storefinder_rsvp_listing_data_source"
                      xsi:type="string">Scandiweb\StoreFinder\Model\ResourceModel\Rsvp\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!-- Other -->
    <type name="Scandiweb\StoreFinder\Model\Source\Stores">
        <arguments>
            <argument name="storeCollection" xsi:type="object"
                      shared="false">Scandiweb\StoreFinder\Model\ResourceModel\Store\Collection</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="storesImportCommand"
                      xsi:type="object">Scandiweb\StoreFinder\Console\Command\StoreImportCommand</item>
            </argument>
        </arguments>
    </type>
</config>
