<?xml version="1.0"?>
<!--
/**
 * @category    Scandiweb
 * @package     Scandiweb\StoreFinder
 * @author      Andris Bremanis <info@scandiweb.com>
 * @author      Emils Brass <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Inc (https://scandiweb.com)
 * @license     @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Scandiweb_StoreFinder" setup_version="1.1.10" />
</config>
