<div class="page">

    <section class="full_page">
        <div class="block_text-green">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis ligula fermentum, mollis diam
            feugiat, pretium leo. Duis venenatis condimentum ultrices. Cras posuere semper dolor, ut sollicitudin nunc
            auctor at. auctor at. auctor at.
        </div>
    </section>

    <section class="full_page">
        <h2>Courier Delivery Service</h2>

        <div>
            <div class="cell-4 block_left">
                <img src="http://magento2.local/media/car.jpeg" align="rigth"
                     style="width:13.7rem"/>
            </div>

            <div class="cell-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis ligula fermentum, mollis
                    diam feugiat, pretium leo. Duis venenatis condimentum ultrices. Cras posuere semper dolor, ut
                    sollicitudin nunc auctor at. Phasellus id bibendum odio. Aliquam est nisi, auctor ac quam ut,
                    convallis vehicula odio. Maecenas sollicitudin convallis vehicula odio. Maecenas sollicitudin
                    convallis vehicula odio. Maecenas sollicitudin
                </p>
                <p class="p2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis ligula fermentum, convallis
                    vehicula odio. Maecenas sollicitudin convallis vehicula odio. Maecenas sollicitudin<a href="/">http://www.magento2.local</a>
                    auctor ac quam ut, convallis vehicula odio.
                </p>
            </div>

        </div>
    </section>


    <section class="full_page">
        <h2>Local Delivery Service</h2>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis ligula fermentum, mollis diam
                feugiat, pretium leo. mollis diam feugiat, pretium leo.
            </p>

        </div>
        <div>
            <ul>
                <li><b>enim nunc, venenatis nec est ac</b></li>
                <li><b>Phasellus pharetra augue ac lacus consectetur, at sodales tortor convallis.</b></li>
                <li><b>Duis ac volutpat sem, at egestas leo. Pellentesque faucibus bibendum nulla. </b></li>
            </ul>
        </div>
    </section>

    <section class="full_page">
        <div class="blocks">
            <div class="blocks_cell4">
                <div class="block blocks">
                    <div class="blocks_cell4 icons-center">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="blocks_cell6">
                        <div class="text-b2">text big</div>
                        <div>text small ac volutpat sem, at egestas leo. Pellentesque faucibus</div>
                    </div>
                </div>
                <div class="block blocks">
                    <div class="blocks_cell4 icons-center">
                        <i class="fas fa-shopping-basket"></i>
                    </div>
                    <div class="blocks_cell6">
                        <div class="text-b2">text big</div>
                        <div>text small ac volutpat sem, at egestas leo. Pellentesque faucibus</div>
                    </div>
                </div>
            </div>
            <div class="blocks_cell6">
                <div class="blocks">
                    <div class="block block_cell5 center">
                        <div class="icons-center">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="text-b2">text big</div>
                        <div>text small ac volutpat sem, at egestas leo. Pellentesque faucibus</div>
                    </div>
                    <div class="block block_cell5 center">
                        <div class="icons-center">
                            <i class="fas fa-shopping-basket"></i>
                        </div>
                        <div class="text-b2">text big</div>
                        <div>text small ac volutpat sem, at egestas leo. Pellentesque faucibus</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="full_page">
        <div class="blocks">
            <div class="block block_cell5 long_text_pagging">
                <div><b>Half column content</b></div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis ligula fermentum,
                        mollis
                        diam feugiat, pretium leo. Duis venenatis condimentum ultrices. Cras posuere semper dolor, ut
                        sollicitudin nunc auctor at. Phasellus id bibendum odio. Aliquam est nisi, auctor ac quam ut,
                        convallis vehicula odio. Maecenas sollicitudin convallis vehicula odio. Maecenas sollicitudin
                        convallis vehicula odio. Maecenas sollicitudin
                    </p>
                    <p class="p2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis ligula fermentum,
                        convallis
                        vehicula odio. Maecenas sollicitudin convallis vehicula odio. Maecenas sollicitudin
                        <a href="/">http://www.magento2.local</a>
                        auctor ac quam ut, convallis vehicula odio.
                    </p></div>
            </div>
            <div class="block block_cell5 long_text_pagging">
                <div><b>Half column content</b></div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis ligula fermentum,
                        mollis
                        diam feugiat, pretium leo. Duis venenatis condimentum ultrices. Cras posuere semper dolor, ut
                        sollicitudin nunc auctor at. Phasellus id bibendum odio. Aliquam est nisi, auctor ac quam ut,
                        convallis vehicula odio. Maecenas sollicitudin convallis vehicula odio. Maecenas sollicitudin
                        convallis vehicula odio. Maecenas sollicitudin
                    </p>
                    <p class="p2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis ligula fermentum,
                        convallis
                        vehicula odio. Maecenas sollicitudin convallis vehicula odio. Maecenas sollicitudin
                        <a href="/">http://www.magento2.local</a>
                        auctor ac quam ut, convallis vehicula odio.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="full_page">
        <h2>Full width paragraph</h2>
        <h3>H3 SUBTITLE</h3>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis ligula fermentum,
                mollis diam feugiat, pretium leo. Duis venenatis condimentum ultrices.
            </p>
        </div>
    </section>

    <section class="full_page">
        <div>
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>A table E1</th>
                    <th>Another column</th>
                    <th>Last column</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> sit amet, consectetur adipiscing elit. Vestibulum quis ligula fermentum,
                        Duis
                    </td>
                    <td data-table-head="A table E1"> sit ligula fermentum,
                        mollis diam feugiat, pretium leo. Duis
                    </td>
                    <td data-table-head="Another column"> sit amet,
                        mollis diam feugiat, <i class="fas fa-check ico-green"></i> yes
                    </td>
                    <td data-table-head="Last column"> sit amet <i class="fas fa-check ico-green"></i> yes
                    </td>
                </tr>
                <tr>
                    <td> sit amet, consectetur adipiscing elit. Vestibulum quis ligula fermentum,
                        Duis
                    </td>
                    <td data-table-head="A table E1"> sit ligula fermentum,
                        mollis diam feugiat, pretium leo. Duis
                    </td>
                    <td data-table-head="Another column"> sit amet,
                        mollis diam feugiat, pretium leo. Duis
                    </td>
                    <td data-table-head="Last column"> sit amet,Vestibulum quis ligula fermentum,
                        mollis diam feugiat, pretium leo. Duis
                    </td>
                </tr>
                <tr>
                    <td> sit amet, consectetur adipiscing elit. Vestibulum quis ligula fermentum,
                        Duis
                    </td>
                    <td data-table-head="A table E1"> sit ligula fermentum,
                        mollis diam feugiat, pretium leo. Duis
                    </td>
                    <td data-table-head="Another column"> sit amet,
                        mollis diam feugiat, pretium <i class="fas fa-check ico-green"></i> leo. Duis
                    </td>
                    <td data-table-head="Last column"> siat, pretium leo. Duis
                    </td>
                </tr>
                <tr>
                    <td> sit amet, cons
                    </td>
                    <td data-table-head="A table E1"> sit ligula fermentum,
                        mollis diam feugiat, pretium leo. Duis
                    </td>
                    <td data-table-head="Another column"> sit diam feugiat, pretium leo. Duis
                    </td>
                    <td data-table-head="Last column"> sit ameleo. Duis
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>
