<!--
/**
 * @category    Edu
 * @package     Edu/StoreFinderCompletion
 * @author      Maxim Dzyuba <maxim.d@tdo.kz>

 */
-->
<div class="storefinder-infowindow">
    <div class="image %image_placeholder%">
        <img src="%base_image_url%" alt="Image of %store_name%" class="image">
    </div>
    <div class="info-block">
        <h4 class="name">%store_name%</h4>
        <div class="address">%address%</div>
        <div class="address">%address%</div>
        <div class="address">%address%</div>
        <div class="phone">%phone_number%</div>
    </div>
</div>
