<?xml version="1.0"?>
<!--
/**
 * @category    Edu
 * @package     Edu\StoreFinderCompletion
 * @author      Maxim Dzyuba <maxim.d@tdo.kz>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <edu_store_finder>
            <general>
                <allowed_store_types>
                    <![CDATA[{
    "_1516185075638_638" : {
        "store_type" : "Our Store"
    },
    "_1516185082425_425" : {
        "store_type" : "Retail Store"
    }
}]]>
                </allowed_store_types>
                <allowed_countries><![CDATA[UK,US]]></allowed_countries>
                <events_enabled>1</events_enabled>
                <default_latitude>0</default_latitude>
                <default_longitude>0</default_longitude>
                <distances>
                    <![CDATA[{
    "_1517330156111_111" : {
        "meters" : "5000",
        "label" : "Within 5 kilometers"
    },
    "_1517330201384_384" : {
        "meters" : "10000",
        "label":"Within 10 kilometers"
    },
    "_1517330226890_890" : {
        "meters" : "25000",
        "label":"Within 25 kilometers"
    }
}]]>
                </distances>
                <search_from_customer>10000</search_from_customer>
            </general>
        </edu_store_finder>
    </default>
</config>
