@charset "UTF-8";
*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out; }

body {
  font: 62.5% "Open sans", Helvetica, Arial, sans-serif;
  color: #85878f;
  margin: 0;
  padding: 0; }

p {
  font-size: 1.2rem; }

.green-color {
  background-color: #85b73c; }

.white-color {
  background-color: #fff; }

.light-blueb-color {
  background-color: #cddaf0; }

.jysk-blue-color {
  background-color: #003187; }

.dark-color {
  background-color: #465b42; }

.copy-color {
  background-color: #46536c; }

.orange-color {
  background-color: #f47b20; }

.center {
  text-align: center; }

.block-text-green {
  color: #85b73c;
  width: 92%;
  font-size: 1.4rem;
  padding: 0 0 0 4rem;
  line-height: 2.4rem; }

.block-text-green:before {
  content: "_____";
  width: 5%;
  position: absolute;
  margin: -0.7rem 0 0 -4.4rem; }

.cell-6 {
  width: 68%; }

.cell-4 {
  width: 27%; }

.block-right {
  float: right; }

.blocks {
  display: -webkit-flex;
  display: flex; }

.blocks-cell6 {
  width: 60%;
  -webkit-flex-grow: 2;
  flex-grow: 2; }

.blocks-cell4 {
  width: 40%;
  -webkit-flex-grow: 1;
  flex-grow: 1; }

.block-cell5 {
  width: 50%;
  -webkit-flex-grow: 1;
  flex-grow: 1; }

.full-page {
  width: 100%;
  color: #85878f;
  max-width: 949px;
  margin: 0.7rem auto;
  padding: 2rem 0 0; }
  .full-page h2 {
    color: #2c2f46;
    font-size: 1rem;
    margin: 0.8rem 0 1.3rem; }
  .full-page h3 {
    color: #257fb7;
    font-size: 1rem;
    font-weight: normal; }
  .full-page p {
    line-height: 1.6rem; }
  .full-page li {
    line-height: 2rem; }
  .full-page .p2 {
    margin: 1.7rem 0 0 0; }
  .full-page .long-text-pagging {
    padding: 0 1rem 0 0; }
  .full-page table {
    color: #85878f; }
  .full-page th {
    background: #f5f7fb;
    border-right: 1px solid #e4e6e9;
    padding: 2rem 1rem; }
  .full-page tr td:first-child {
    border-width: 1px 0 0 0; }
  .full-page td {
    border-top: 1px solid #e4e6e9;
    border-left: 1px solid #e4e6e9;
    padding: 1rem; }
  .full-page .text-b2 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.1rem 0 0.5rem; }
  .full-page .icons-center {
    padding: 1rem;
    text-align: center; }
  .full-page .icons-center i {
    font-size: 1.6rem;
    background-color: #1e49a4;
    padding: 0.4rem;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #1f2993; }
  .full-page .ico-green {
    color: #85b73c; }
  @media (max-width: 640px) {
    .full-page {
      width: 100%;
      max-width: 100%;
      min-width: 320px;
      margin: 0 auto;
      padding: 0 0.5rem; }
      .full-page .cell-6,
      .full-page .cell-4,
      .full-page .blocks-cell4,
      .full-page .block-cell5,
      .full-page .blocks-cell6 {
        width: 100%;
        flex: 0 0 100%; }
      .full-page .blocks {
        display: block;
        width: 100%; }
      .full-page .blocks-cell6 {
        text-align: center; }
      .full-page table thead {
        display: none; }
      .full-page table td {
        display: block;
        text-align: right;
        width: 100%;
        border-width: 1px 0 0 0; }
      .full-page table td::before {
        content: attr(data-table-head);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        padding: 0 8px;
        background: #eee; } }

.page-center {
  width: 100%;
  color: #85878f;
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1056px; }
  .page-center h2 {
    font-size: 2.2rem;
    color: #003187;
    margin: 0.6rem 0 0.6rem; }
  .page-center .wrapper {
    padding: 2.4rem 0;
    border-bottom: 1px solid #e7e8f0; }
    .page-center .wrapper .block {
      width: 50%;
      flex: 0 0 50%; }
    .page-center .wrapper .h1 {
      margin: 0.6rem 0 0.6rem;
      font-size: 3.1rem;
      color: #465b42; }
    .page-center .wrapper b {
      font-size: 1.3rem;
      color: #465b42; }

.grey-b {
  background-color: #e7e8f0;
  padding: 4rem 0; }
  .grey-b h1 {
    font-size: 2.2rem;
    color: #003187;
    margin: 0.6rem 0 0.6rem; }
  .grey-b .block {
    margin: 1rem;
    text-align: center; }
    .grey-b .block h3 {
      font-size: 1rem;
      margin: 0.6rem 0 0.6rem; }
    .grey-b .block .show {
      width: 7.4rem;
      height: 7.4rem;
      border-radius: 5px; }

.product-item-info {
  width: 100% !important; }

.page-header {
  background-color: #fff; }

.sticky_sections {
  height: 73px; }

.block.block-search, .logo, .minicart-wrapper {
  position: fixed !important;
  transition: 0.7s; }

.block.block-search {
  position: fixed !important;
  right: calc((100% - 1240px) / 2 + 29px);
  top: 73px;
  transform-origin: left;
  transition: 0.7s; }
  @media (max-width: 1280px) {
    .block.block-search {
      right: 49px; } }

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.6s;
  transform: translateY(0);
  z-index: 6; }

.header.content {
  background-color: #fff;
  height: 90px; }

.section-items {
  width: fit-content;
  margin: 0 auto; }

.sections.nav-sections {
  width: 100%;
  position: fixed;
  top: 133px;
  margin-bottom: 0 !important;
  transition: 0.6s;
  z-index: 5; }

#maincontent {
  padding-top: 200px; }

.logo {
  left: calc((100% - 1240px) / 2); }
  @media (max-width: 1280px) {
    .logo {
      left: 20px; } }

.minicart-wrapper {
  right: calc((100% - 1240px) / 2); }
  @media (max-width: 1280px) {
    .minicart-wrapper {
      right: 20px; } }

.sticky_header {
  transform: translateY(-100%) !important; }

.sticky_minicart {
  transform: translateY(68px); }

.sticky_search {
  transform: translateY(68px); }

.sticky_logo {
  transform: scale(0.8) translateY(88px); }

.sticky_sections {
  top: 0 !important; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.block-products-list .block-title {
  text-align: center;
  margin: 4rem 0; }
  .block-products-list .block-title strong {
    font-size: 4rem !important;
    color: #2c2f46; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center no-repeat; }

.slick-list .slick-slide {
  width: 273px;
  margin: 0 29px;
  border: 1px solid #e7e8f0;
  padding: 0; }

.slick-list a {
  display: block !important;
  color: #2c2f46 !important;
  text-decoration: none !important; }

.slick-list .product-image-wrapper {
  position: relative;
  height: 300px;
  padding-bottom: 0 !important; }

.slick-list .product-image-container {
  width: 100% !important; }

.slick-list .product-image-photo {
  width: 100% !important; }

.slick-list .product-item {
  margin: 0;
  padding: 0; }

.slick-list .product-item-actions {
  display: block; }

.slick-list .product-item-name {
  padding: 0 0 0 20px;
  font-size: 18px;
  font-weight: bold; }

.slick-list .price {
  font-size: 17px;
  color: #cddaf0 !important;
  padding: 0 0 0 20px; }

.slick-list .stock {
  font-size: 15px;
  color: #85b73c !important;
  padding: 0 0 0 35px; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 69px;
  width: 35px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  background: transparent; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: #e4e6e9;
    color: transparent;
    border: 0; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: #85878f;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "<";
    background: url("../../images/right_arrow.png") no-repeat;
    color: transparent;
    height: 84px;
    font-size: 51px; }
    [dir="rtl"] .slick-prev:before {
      content: ">";
      background: url("../../images/left_arrow.png") no-repeat; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: ">";
    background: url("../../images/left_arrow.png") no-repeat;
    color: transparent;
    height: 84px;
    font-size: 51px; }
    [dir="rtl"] .slick-next:before {
      content: "<";
      background: url("../../images/right_arrow.png") no-repeat; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 9px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.product_badge {
  max-width: 140px;
  position: absolute;
  z-index: 100;
  right: 0; }
