@charset "UTF-8";
body {
  font: 100% "Open sans", Helvetica, Arial, sans-serif;
  color: #85878f;
  margin: 0;
  padding: 0; }

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out;
  /* добавим плавность переходов для всех элементов страницы*/ }

.center {
  text-align: center; }

.page {
  width: 100%; }

.full_page {
  width: 100%;
  max-width: 949px;
  margin: 0.7rem auto;
  padding: 2rem 0 0;
  color: #85878f; }
  .full_page h2 {
    color: #2c2f46;
    font-size: 1rem;
    margin: 0.8rem 0 1.3rem; }
  .full_page h3 {
    color: #257fb7;
    font-size: 1rem;
    font-weight: normal; }
  .full_page p {
    line-height: 1.6rem; }
  .full_page li {
    line-height: 2rem; }
  .full_page .p2 {
    margin: 1.7rem 0 0 0; }
  .full_page .long_text_pagging {
    padding: 0 1rem 0 0; }
  .full_page table {
    color: #85878f; }
  .full_page th {
    background: #f5f7fb;
    border-right: 1px solid #e4e6e9;
    padding: 2rem 1rem; }
  .full_page tr td:first-child {
    border-width: 1px 0 0 0; }
  .full_page td {
    border-top: 1px solid #e4e6e9;
    border-left: 1px solid #e4e6e9;
    padding: 1rem; }
  .full_page .text-b2 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.1rem 0 0.5rem; }
  .full_page .icons-center {
    padding: 1rem;
    text-align: center; }
  .full_page .icons-center i {
    font-size: 1.6rem;
    background-color: #1e49a4;
    padding: 0.4rem;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #1f2993; }
  .full_page .ico-green {
    color: #72af45; }
  @media (max-width: 640px) {
    .full_page {
      width: 100%;
      max-width: 100%;
      min-width: 320px;
      margin: 0 auto;
      padding: 0 0.5rem; }
      .full_page .cell-6,
      .full_page .cell-4,
      .full_page .blocks_cell4,
      .full_page .block_cell5,
      .full_page .blocks_cell6 {
        width: 100%;
        flex: 0 0 100%; }
      .full_page .blocks {
        display: block;
        width: 100%; }
      .full_page .blocks_cell6 {
        text-align: center; }
      .full_page table thead {
        display: none; }
      .full_page table td:before {
        content: attr(data-table-head); }
      .full_page table td {
        display: block;
        text-align: right;
        width: 100%;
        border-width: 1px 0 0 0; }
      .full_page table td::before {
        content: attr(data-table-head);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        padding: 0 8px;
        background: #eee; } }

.block_text-green {
  color: #85b73c;
  width: 92%;
  font-size: 1.4rem;
  padding: 0 0 0 4rem;
  line-height: 2.4rem; }

.block_text-green:before {
  content: "_____";
  width: 5%;
  position: absolute;
  margin: -0.7rem 0 0 -4.4rem; }

.cell-6 {
  width: 68%; }

.cell-4 {
  width: 27%; }

.block_left {
  float: right; }

.blocks {
  display: -webkit-flex;
  display: flex; }

.blocks_cell6 {
  width: 60%;
  -webkit-flex-grow: 2;
  flex-grow: 2; }

.blocks_cell4 {
  width: 40%;
  -webkit-flex-grow: 1;
  flex-grow: 1; }

.block_cell5 {
  width: 50%;
  -webkit-flex-grow: 1;
  flex-grow: 1; }
