<!--
/**
 * @category    Edu
 * @package     Edu/StoreFinderCompletion
 * @author      Maxim Dzyuba <maxim.d@tdo.kz>

 */
-->
<div class="address-item" data-bind="css: {first: $index() == 0}">
    <div class="address" data-bind="html: $parents[1].formatAddress(store.address)"></div>
    <!-- ko if: ($parents[1].isShowUrl(store.directions_url)) -->
    <div class="direction-url-row">
        <a class="direction-url" target="_blank" data-bind="attr: {href: store.directions_url}">
            <span class="direction-icon"></span>
            <span class="direction-label" data-bind="i18n: 'Get Directions'"></span>
        </a>
    </div>
    <!-- /ko -->
</div>
