<!--
/**
 * @category    Edu
 * @package     Edu/StoreFinderCompletion
 * @author      Maxim Dzyuba <maxim.d@tdo.kz>

 */
-->
<div class="storefinder-event" data-bind="attr: {'data-event-id': event_id}">
    <div class="column-date">
        <span class="month" data-bind="text: $parent.getMonth(item)"></span>
        <span class="day" data-bind="text: $parent.getDay(item)"></span>
    </div>
    <div class="column-name">
        <span class="name" data-bind="text: item.event_name"></span>
        <span class="location" data-bind="text: item.event_location"></span>
    </div>
    <div class="column-address">
        <div class="address-block">
            <h4 class="title" data-bind="i18n: 'Address'"></h4>
            <!-- ko if: ($parent.isSingleAddress(item)) -->
            <!-- ko template: 'Edu_StoreFinderCompletion/events/single-address' --><!-- /ko -->
            <!-- /ko -->
            <!-- ko if: ($parent.isMultipleAddress(item)) -->
            <!-- ko template: 'Edu_StoreFinderCompletion/events/addresses' --><!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="time-block">
            <h4 class="title" data-bind="i18n: 'Hours'"></h4>
            <span class="time-string" data-bind="text: $parent.getTimeString(item)"></span>
        </div>
    </div>
    <div class="column-info">
        <div class="info-block">
            <h4 class="title" data-bind="i18n: 'Info'"></h4>
            <div class="info-text" data-bind="html: item.additional_info"></div>
        </div>
        <!-- ko if: item.rsvp_enabled -->
        <div class="rsvp-block">
            <button class="rsvp-button"
                    data-bind="click: $parent.showRsvpPopup.bind($parent, item), i18n: 'RSVP'"></button>
        </div>
        <!-- /ko -->
    </div>
</div>
