<?xml version="1.0"?>
<!--
/**
 * @category    Edu
 * @package     Edu\StickyHeader
 * @author      Maxim Dzyuba
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="stickyheader" frontName="stickyheader">
            <module name="Edu_StickyHeader"/>
        </route>
    </router>
</config>
