/**
 * @category    Edu
 * @package     Edu/StoreFinderCompletion
 * @author      Maxim Dzyuba <maxim.d@tdo.kz>

 */

$break-phone: 700px;
$break-tablet: 1000px;
$break-pc: 1600px;

$image-map-marker: url('../images/map-marker.svg');
$image-phone: url('../images/phone-receiver.svg');
$image-email: url('../images/close-envelope.svg');

$color-light-text: #FFFFFF;
$color-dark-text: #575757;
$color-light-bg: #F0F0F0;
$color-medium-bg: #C9C9C9;
$color-dark-bg: #6E716E;
$color-alert: #FF1654;

