/**
 * @category    Edu
 * @package     Edu/StoreFinderCompletion
 * @author      Maxim Dzyuba <maxim.d@tdo.kz>

 */

@import "compass";

@import "base";

// Phone and general
.storefinder-store-list {
    .storefinder-list-head {
        @include display-flex();
        @include flex-direction(row);
        @include flex-wrap(wrap);
    }

    .storefinder-list-title {
        @include flex(1 1 50%);
        margin: 10px 0;
    }

    .storefinder-list-filters {
        @include flex(1 1 50%);
        margin: 10px 0;
    }

    .storefinder-retail-link {
        display: inline-block;
        @include flex(1 1 100%);
        text-align: right;
        margin: 10px 0;
    }
}

.storefinder-store {
    @include display-flex();
    @include flex-direction(column);
    padding: 16px 0;
    border-bottom: 1px solid lightgray;

    &:last-of-type {
        padding-bottom: 0;
        border: none;
    }

    &:first-of-type {
        padding-top: 0;
    }

    .image {
        display: block;
        margin: 0 auto;
    }

    .title {
        margin: 10px 0 5px;
        font-size: 15pt;
    }

    .address {
        line-height: 17px;
    }

    .direction-url-row {
        text-align: right;
    }

    .direction-url {
        color: $color-dark-text;
        font-weight: 700;

        &:hover, &:visited, &:link {
            text-decoration: none;
            color: $color-dark-text;
        }

        &:active {
            text-decoration: none;
            color: $color-light-text;
        }
    }

    .direction-icon, .phone-icon, .email-icon {
        display: inline-block;
        width: 12pt;
        height: 12pt;
        @include background-size(100%);
        background-repeat: no-repeat;
        vertical-align: bottom;
    }

    .direction-icon {
        @include background-image($image-map-marker);
        width: 16pt;
        height: 16pt;
    }

    .store-contact-title {
        margin: 0 0 8px;
        font-size: 12pt;
    }

    .phone-row, .email-row {
        line-height: 15pt;
    }

    .phone-icon {
        @include background-image($image-phone);
        padding-bottom: 1pt;
    }

    .email-icon {
        @include background-image($image-email);
        padding-bottom: 1pt;
    }

    .phone-label, .email-label {
        font-weight: 700;
        min-width: 50px;
        display: inline-block;
    }
}

// Tablet
@media screen and (min-width: $break-phone) {
    .storefinder-store {
        .right-column {
            padding: 5% 10%;
        }
    }
}

// PC
@media screen and (min-width: $break-tablet) {
    .storefinder-store-list {
        .storefinder-list-head {
            margin-bottom: 20px;
        }

        .storefinder-list-title {
            @include flex(1 1 25%);
        }

        .storefinder-list-filters {
            @include flex(1 1 25%);
        }

        .storefinder-retail-link {
            @include flex(1 1 50%);
        }
    }

    .storefinder-store {
        @include flex-direction(row);

        .left-column, .right-column {
            width: 50%;
        }

        .direction-url-row {
            text-align: left;
            padding: 20px 0;
        }
    }
}
