<?xml version="1.0"?>
<!--
/**
 * @category    Edu
 * @package     Edu\CmsSimpleBadge
 * @author      Maxim Dzyuba
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Edu_CmsSimpleBadge::badges"
             title="My Badges"
             translate="title"
             module="Edu_CmsSimpleBadge"
             parent="Magento_Backend::content"
             sortOrder="50"
             dependsOnModule="Edu_CmsSimpleBadge"
             resource="Edu_CmsSimpleBadge::badges"/>
        <add id="Edu_CmsSimpleBadge::badges_list"
             title="Create Badges"
             translate="title"
             module="Edu_CmsSimpleBadge"
             parent="Edu_CmsSimpleBadge::badges"
             sortOrder="10"
             dependsOnModule="Edu_CmsSimpleBadge"
             action="badges/badges/index"
             resource="Edu_CmsSimpleBadge::badges"/>
    </menu>
</config>
