<?xml version="1.0"?>
<!--
/**
 * @category    Scandiweb
 * @package     Scandiweb/StoreFinder
 * @author      Andris Bremanis <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Inc (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Scandiweb_StoreFinder::store_finder"
             title="Store Finder"
             module="Scandiweb_StoreFinder"
             sortOrder="50"
             parent="Scandiweb_Core::all"
             resource="Scandiweb_StoreFinder::store_finder"/>
        <add id="Scandiweb_StoreFinder::store_list"
             title="Stores"
             module="Scandiweb_StoreFinder"
             sortOrder="10"
             parent="Scandiweb_StoreFinder::store_finder"
             action="storefinder/stores/index"
             resource="Scandiweb_StoreFinder::store_finder"/>
        <add id="Scandiweb_StoreFinder::event_list"
             title="Events"
             module="Scandiweb_StoreFinder"
             sortOrder="20"
             parent="Scandiweb_StoreFinder::store_finder"
             action="storefinder/events/index"
             dependsOnConfig="scandiweb_store_finder/general/events_enabled"
             resource="Scandiweb_StoreFinder::events"/>
        <add id="Scandiweb_StoreFinder::rsvp"
             title="RSVP List"
             module="Scandiweb_StoreFinder"
             sortOrder="30"
             parent="Scandiweb_StoreFinder::store_finder"
             action="storefinder/rsvp/index"
             dependsOnConfig="scandiweb_store_finder/general/events_enabled"
             resource="Scandiweb_StoreFinder::rsvp"/>
    </menu>
</config>
